/* Background Gradient */
/* Radius */
/* Box */
/* Background Opacity */
/* Shadow */
/* Box Size */
/* Columns */
/* Double Borders */
/* flex */
/* CSS3 Flip */
/* Outline Radius */
/* textarea resize */
/* Rotate */
/* Text Shadow */
/* transform Translate */
/* Transition */
/*
@mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
	-moz-transition:    $what $length $easing;
	-o-transition:      $what $length $easing;
	-webkit-transition: $what $length $easing;
	-ms-transition:     $what $length $easing;
	transition:         $what $length $easing;

}
*/
/* Triple Border */
/* Ellipsis */
/*------------------------------------*\
    Modal
\*------------------------------------*/
/**
 * CSS Modal
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
/**
 * CSS Modal Configuration
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.has-overlay {
  overflow: hidden;
  height: auto;
}
.has-overlay > body {
  height: 100%;
  overflow: hidden;
}

.modal--fade, .modal--show, .dafy-modal {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: none\9;
}
.modal--fade:target, .modal--show:target, .dafy-modal:target, .is-active.modal--fade, .is-active.modal--show, .is-active.dafy-modal {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  width: auto;
  height: auto;
  opacity: 1;
}
.is-active.modal--fade, .is-active.modal--show, .is-active.dafy-modal {
  display: block\9;
  height: 100% \9;
  width: 100% \9;
}
.modal--fade:target, .modal--show:target, .dafy-modal:target, .is-active.modal--fade, .is-active.modal--show, .is-active.dafy-modal {
  display: block\9;
}
.modal--fade .modal-inner, .modal--show .modal-inner, .dafy-modal .modal-inner {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 20;
  margin-left: -325px;
  width: 650px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.modal--fade .modal-inner > img, .modal--show .modal-inner > img, .dafy-modal .modal-inner > img,
.modal--fade .modal-inner > video,
.modal--show .modal-inner > video,
.dafy-modal .modal-inner > video,
.modal--fade .modal-inner > iframe,
.modal--show .modal-inner > iframe,
.dafy-modal .modal-inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}
.modal--fade .modal-inner > img, .modal--show .modal-inner > img, .dafy-modal .modal-inner > img {
  width: auto;
  max-width: 100%;
}
.modal--fade .modal-inner iframe, .modal--show .modal-inner iframe, .dafy-modal .modal-inner iframe {
  display: block;
  width: 100%;
  border: 0;
}
.modal--fade .modal-content, .modal--show .modal-content, .dafy-modal .modal-content {
  position: relative;
  max-height: 400px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.modal--fade .modal-content > *, .modal--show .modal-content > *, .dafy-modal .modal-content > * {
  max-width: 100%;
}
.modal--fade footer, .modal--show footer, .dafy-modal footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
.modal--fade .modal-close, .modal--show .modal-close, .dafy-modal .modal-close {
  display: block;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}
.modal--fade .modal-close:focus:after, .modal--show .modal-close:focus:after, .dafy-modal .modal-close:focus:after {
  outline: 1px dotted;
  outline: -webkit-focus-ring-color auto 5px;
}
.modal--fade .modal-close:before, .modal--show .modal-close:before, .dafy-modal .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal--fade .modal-close:after, .modal--show .modal-close:after, .dafy-modal .modal-close:after {
  content: '\00d7';
  position: absolute;
  top: 35px;
  right: 50%;
  z-index: 20;
  margin-right: -325px;
}
@media screen and (max-width: 690px) {
  .modal--fade .modal-inner, .modal--show .modal-inner, .dafy-modal .modal-inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }
  .modal--fade .modal-close:after, .modal--show .modal-close:after, .dafy-modal .modal-close:after {
    margin-right: 0 !important;
    right: 20px;
  }
}
@media screen and (max-width: 30em) {
  .modal--fade, .modal--show, .dafy-modal {
    -webkit-transform: translate(0, 400px);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: opacity 1ms .25s;
    -moz-transition: opacity 1ms .25s;
    -o-transition: opacity 1ms .25s;
    -ms-transition: opacity 1ms .25s;
    transition: opacity 1ms .25s;
    display: block;
    right: auto;
    bottom: auto;
  }
  .modal--fade:target, .modal--show:target, .dafy-modal:target, .is-active.modal--fade, .is-active.modal--show, .is-active.dafy-modal {
    width: 100%;
    height: 100%;
  }
  .modal--fade:target .modal-close, .modal--show:target .modal-close, .dafy-modal:target .modal-close, .is-active.modal--fade .modal-close, .is-active.modal--show .modal-close, .is-active.dafy-modal .modal-close {
    display: block;
  }
  .modal--fade .modal-inner, .modal--show .modal-inner, .dafy-modal .modal-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }
  .modal--fade .modal-content, .modal--show .modal-content, .dafy-modal .modal-content {
    max-height: none;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  .modal--fade .modal-close, .modal--show .modal-close, .dafy-modal .modal-close {
    display: none;
    right: auto;
  }
  .modal--fade .modal-close:before, .modal--show .modal-close:before, .dafy-modal .modal-close:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
  .modal--fade .modal-close:after, .modal--show .modal-close:after, .dafy-modal .modal-close:after {
    top: 5px !important;
    right: 5px;
    left: auto;
    margin-left: 0;
  }
}
@media screen and (max-height: 46em) and (min-width: 30em) {
  .modal--fade .modal-content, .modal--show .modal-content, .dafy-modal .modal-content {
    max-height: 340px;
    max-height: 50vh;
  }
}
@media screen and (max-height: 36em) and (min-width: 30em) {
  .modal--fade .modal-content, .modal--show .modal-content, .dafy-modal .modal-content {
    max-height: 265px;
    max-height: 40vh;
  }
}
.is-stacked.modal--fade, .is-stacked.modal--show, .is-stacked.dafy-modal {
  -webkit-transform: translate(0, 0) scale(1, 1);
  -moz-transform: translate(0, 0) scale(1, 1);
  -o-transform: translate(0, 0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  opacity: 1;
}
.is-stacked.modal--fade .modal-inner, .is-stacked.modal--show .modal-inner, .is-stacked.dafy-modal .modal-inner {
  -webkit-animation: scaleDown .7s ease both;
  -moz-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both;
}
.is-stacked.modal--fade .modal-close, .is-stacked.modal--show .modal-close, .is-stacked.dafy-modal .modal-close {
  opacity: 0;
}
@media screen and (max-width: 30em) {
  .is-stacked.modal--fade, .is-stacked.modal--show, .is-stacked.dafy-modal {
    -webkit-animation: scaleDown .7s ease both;
    -moz-animation: scaleDown .7s ease both;
    animation: scaleDown .7s ease both;
  }
  .is-stacked.modal--fade .modal-inner, .is-stacked.modal--show .modal-inner, .is-stacked.dafy-modal .modal-inner {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  .is-stacked.modal--fade .modal-close, .is-stacked.modal--show .modal-close, .is-stacked.dafy-modal .modal-close {
    opacity: 1;
  }
}

/**
 * All animations for CSS Modal
 *
 * Available:
 * - %modal--transition-fade (fade)
 * - %modal--transition-zoomIn (zooms in)
 * - %modal--transition-plainScreen (hides background)
 *
 * Usage:
 *
 * .selector {
 * 		@extend %modal--transition-fade;
 * }
 *
 */
@media screen and (min-width: 30em) {
  .modal--fade {
    transition: opacity 0.4s;
  }
}

/**
 * CSS Modal Themes
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */
/*
 * Global Theme Styles
 */
.modal--fade, .modal--show {
  color: #222;
  line-height: 1.3;
}
.modal--fade .modal-inner, .modal--show .modal-inner {
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  max-width: 100%;
  -webkit-transition: max-width 0.25s linear, margin-left 0.125s linear;
  transition: max-width 0.25s linear, margin-left 0.125s linear;
}
.modal--fade header, .modal--show header {
  border-bottom: 1px solid #ddd;
  padding: 0 1.2em;
}
.modal--fade header > h2, .modal--show header > h2 {
  margin: 0.5em 0;
}
.modal--fade .modal-content, .modal--show .modal-content {
  border-bottom: 1px solid #ddd;
  padding: 15px 1.2em;
}
.modal--fade footer, .modal--show footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
.modal--fade .modal-close, .modal--show .modal-close {
  text-indent: -100px;
}
.modal--fade .modal-close:before, .modal--show .modal-close:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAEUlEQVQoz2NgeEYAjioYSQoAzOTmAXhPhyoAAAAASUVORK5CYII=");
}
.modal--fade .modal-close:after, .modal--show .modal-close:after {
  content: '\00d7';
  background: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}
@media screen and (max-width: 30em) {
  .modal--fade .modal-close:before, .modal--show .modal-close:before {
    background: #27aae2;
    height: 3em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  .modal--fade .modal-inner, .modal--show .modal-inner {
    padding-top: 3em;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .modal--fade .modal-close, .modal--show .modal-close {
    text-decoration: none;
  }
  .modal--fade .modal-close:after, .modal--show .modal-close:after {
    content: attr(data-close);
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

/*
 * Plain Screen Theme Styles
 */
/**
 * Apply the desired modal behavior to your container selector
 */
::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover,
textarea:focus, textarea:hover {
  border: 1px solid #2aad6f !important;
}

[class^="icon-"], [class*=" icon-"], .icon {
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

body {
  background-color: #faf1ae;
}

.activity-range {
  position: relative;
}
.activity-range .range-bg {
  position: relative;
  z-index: 1;
}
.activity-range .time {
  width: 64.26%;
  height: 40.57%;
  position: absolute;
  top: 0;
  left: 17.06%;
  z-index: 5;
  color: #532c1b;
  font-size: 1.08333rem;
  text-align: center;
  line-height: 2.33333rem;
}

.df-bar {
  padding: 0.20833rem 0.83333rem 0.625rem;
}
.df-bar .df-row {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.df-bar .meta-cell {
  width: 33.33333%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  color: #470606;
  font-size: 1.41667rem;
}
.df-bar .meta-cell:nth-child(3) {
  text-align: right;
}
.df-bar .redpack {
  width: 7.91667rem;
  height: 2.83333rem;
  overflow: hidden;
  background: url(../images/icon-redpack.png) no-repeat;
  -moz-background-size: 7.91667rem 2.83333rem;
  -o-background-size: 7.91667rem 2.83333rem;
  -webkit-background-size: 7.91667rem 2.83333rem;
  background-size: 7.91667rem 2.83333rem;
}
.df-bar .redpack span {
  padding-left: 2.5rem;
  line-height: 3.41667rem;
}
.df-bar .countdown {
  width: 8.33333rem;
  height: 2.58333rem;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  background: url(../images/icon-countdown.png) no-repeat;
  -moz-background-size: 8.33333rem 2.58333rem;
  -o-background-size: 8.33333rem 2.58333rem;
  -webkit-background-size: 8.33333rem 2.58333rem;
  background-size: 8.33333rem 2.58333rem;
}
.df-bar .countdown span {
  padding-left: 2.91667rem;
  line-height: 2.875rem;
}
.df-bar .counts {
  height: 2.83333rem;
  overflow: hidden;
  text-align: center;
}
.df-bar .counts span {
  padding: 0.20833rem;
  -moz-border-radius: 0.20833rem;
  -webkit-border-radius: 0.20833rem;
  border-radius: 0.20833rem;
  color: #fff;
  line-height: 3.41667rem;
  font-weight: 700;
  background-color: #f7ad34;
}

.home-button {
  padding-top: 0.625rem;
  position: relative;
  z-index: 100;
  text-align: center;
}
.home-button a {
  display: inline-block;
  width: 14.5rem;
  height: 3.75rem;
  color: #fff;
  font-size: 1.33333rem;
  font-weight: 700;
  line-height: 3.75rem;
  text-shadow: 2px 0 1px rgba(0, 0, 0, 0.2);
  background: url(../images/btn-home.png) no-repeat;
  -moz-background-size: 14.5rem 3.75rem;
  -o-background-size: 14.5rem 3.75rem;
  -webkit-background-size: 14.5rem 3.75rem;
  background-size: 14.5rem 3.75rem;
}
.home-button a.btn-start {
  width: 14.41667rem;
  height: 3.625rem;
  overflow: hidden;
  text-indent: -999em;
  background-image: url(../images/btn-start-disabled.png);
  -moz-background-size: 14.41667rem 3.625rem;
  -o-background-size: 14.41667rem 3.625rem;
  -webkit-background-size: 14.41667rem 3.625rem;
  background-size: 14.41667rem 3.625rem;
}

.df-links {
  padding: 0.75rem 0;
  color: #f7ad34;
  font-size: 1.08333rem;
  text-align: center;
}
.df-links span {
  padding: 0 0.83333rem;
}
.df-links a {
  color: #f7ad34;
}

.stage-container {
  position: relative;
}
.stage-container canvas {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}
.stage-container .tray-image {
  position: relative;
  z-index: 100;
}

.over-top {
  width: 100%;
  position: relative;
}
.over-top .button {
  display: block;
  position: absolute;
  overflow: hidden;
  text-indent: -999em;
  z-index: 11;
}
.over-top .btn-receive {
  width: 60.13%;
  height: 10.71%;
  top: 63.85%;
  left: 20%;
}
.over-top .btn-replay {
  width: 27.33%;
  height: 10.57%;
  top: 78%;
  left: 20%;
}
.over-top .btn-share {
  width: 27.33%;
  height: 10.57%;
  top: 78%;
  left: 52.8%;
}

.over-poster {
  position: relative;
  z-index: 5;
}

.over-container {
  width: 100%;
}
.over-container .gold {
  width: 52%;
  height: 33.71%;
  top: 16.71%;
  left: 30.53%;
  position: absolute;
  overflow: hidden;
  color: #e92d50;
  font-size: 4.16667rem;
  line-height: 9.83333rem;
  z-index: 11;
  text-align: center;
}
.over-container .gold sup {
  padding-right: 5px;
  vertical-align: top;
  font-size: 3.33333rem;
}

.history-wrapper {
  padding-top: 0.625rem;
}
.history-wrapper .history-title {
  height: 2.5rem;
  color: #f34937;
  font-size: 1.08333rem;
  line-height: 2.5rem;
  text-align: center;
}
.history-wrapper .history-container {
  width: 96%;
  margin: 0 auto;
}
.history-wrapper .history-space {
  height: 1.5rem;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  position: relative;
  background-color: #fee46d;
}
.history-wrapper .history-space span {
  display: block;
  margin: 0 0.625rem;
  height: 0.83333rem;
  -moz-border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
  position: relative;
  top: 0.33333rem;
  background-color: #fbae34;
}
.history-wrapper .history-content {
  width: 90%;
  margin: -0.83333rem auto 0;
  border: 1px solid #feec72;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fef6c5;
  -moz-border-radius-bottomleft: 0.41667rem;
  -webkit-border-bottom-left-radius: 0.41667rem;
  border-bottom-left-radius: 0.41667rem;
  -moz-border-radius-bottomright: 0.41667rem;
  -webkit-border-bottom-right-radius: 0.41667rem;
  border-bottom-right-radius: 0.41667rem;
}
.history-wrapper .history {
  border: 1px solid #fef199;
  -moz-border-radius-bottomleft: 0.41667rem;
  -webkit-border-bottom-left-radius: 0.41667rem;
  border-bottom-left-radius: 0.41667rem;
  -moz-border-radius-bottomright: 0.41667rem;
  -webkit-border-bottom-right-radius: 0.41667rem;
  border-bottom-right-radius: 0.41667rem;
  padding: 0.83333rem 0.41667rem;
}

.history-grid {
  width: 100%;
}
.history-grid .cell {
  display: inline-block;
  height: 2.08333rem;
  line-height: 2.08333rem;
  text-align: center;
}
.history-grid .cell:nth-child(1) {
  width: 16.9%;
}
.history-grid .cell:nth-child(2) {
  width: 24.1%;
}
.history-grid .cell:nth-child(3) {
  width: 32.6%;
}
.history-grid .cell:nth-child(4) {
  width: 20%;
}
.history-grid .history-thead {
  width: 100%;
  height: 2.08333rem;
  margin-bottom: 0.41667rem;
}
.history-grid .history-thead .cell {
  color: #f34937;
  font-size: 1.04167rem;
}
.history-grid .history-tbody .cell {
  color: #fbae34;
  font-size: 1rem;
}
.history-grid .history-tbody .cell:nth-child(4) {
  color: #aaa;
}
.history-grid .history-tbody p {
  color: #f34937;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: center;
}
.history-grid .history-tbody a,
.history-grid .history-tbody a:visited,
.history-grid .history-tbody a:hover {
  color: #ee0733;
  text-decoration: none;
}

.history .history-tbody {
  height: 12.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.dafy-modal {
  background-color: rgba(0, 0, 0, 0.7);
}
.dafy-modal .modal-header {
  position: relative;
}
.dafy-modal .modal-header .m-image {
  position: relative;
  z-index: 999;
}
.dafy-modal .dy-modal-close {
  width: 11.31%;
  height: 23.87%;
  display: block;
  position: absolute;
  top: 0;
  left: 44.34%;
  z-index: 1000;
  overflow: hidden;
  text-indent: -999em;
}
.dafy-modal .modal-section {
  width: 88.8%;
  margin: 0 auto;
  padding-top: 10%;
}
.dafy-modal .modal-content {
  padding: 1.66667rem;
  -moz-border-radius-bottomleft: 1.66667rem;
  -webkit-border-bottom-left-radius: 1.66667rem;
  border-bottom-left-radius: 1.66667rem;
  -moz-border-radius-bottomright: 1.66667rem;
  -webkit-border-bottom-right-radius: 1.66667rem;
  border-bottom-right-radius: 1.66667rem;
  background-color: #cc3d3c;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 4px;
}

.history-modal .history {
  padding: 1.04167rem 1.04167rem 2.08333rem;
  -moz-border-radius: 1.04167rem;
  -webkit-border-radius: 1.04167rem;
  border-radius: 1.04167rem;
  background-color: #fdd4d3;
}
.history-modal .history-title {
  width: 100%;
  padding-bottom: 1.04167rem;
}
.history-modal .title {
  width: 7.125rem;
  height: 1.91667rem;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -999em;
  background: url(../images/history-title.png) no-repeat;
  -moz-background-size: 7.125rem 1.91667rem;
  -o-background-size: 7.125rem 1.91667rem;
  -webkit-background-size: 7.125rem 1.91667rem;
  background-size: 7.125rem 1.91667rem;
}
.history-modal .history-thead {
  -moz-border-radius: 1.04167rem;
  -webkit-border-radius: 1.04167rem;
  border-radius: 1.04167rem;
  background-color: #efb7b5;
}
.history-modal .history-thead .cell {
  color: #9b6767;
}
.history-modal .history-tbody {
  position: relative;
  height: 12.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.history-modal .history-tbody .cell {
  color: #705e5e;
}
.history-modal .history-tbody .cell:nth-child(4) {
  color: #aaa;
}
.history-modal .history-tbody .history-row {
  border-bottom: 1px dashed #f2c8c7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rules-modal .rules .rules-title {
  padding-bottom: 1.04167rem;
}
.rules-modal .rules .title {
  width: 5.75rem;
  height: 2.08333rem;
  margin: 0 auto;
  border: 2px solid #f6d4d4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #f6d4d4;
  line-height: 2.08333rem;
  text-align: center;
}
.rules-modal .rules li {
  border-bottom: 1px dashed #cb4f4e;
  color: #f6d4d4;
  line-height: 1.83333rem;
}

.timeover-modal .modal-content {
  padding-bottom: 2.08333rem;
  -moz-border-radius-topleft: 0.08333rem;
  -webkit-border-top-left-radius: 0.08333rem;
  border-top-left-radius: 0.08333rem;
  -moz-border-radius-topright: 0.08333rem;
  -webkit-border-top-right-radius: 0.08333rem;
  border-top-right-radius: 0.08333rem;
  background-color: #d84049;
}
.timeover-modal .tips h3 {
  color: #ffcb12;
  font-size: 1.08333rem;
  line-height: 1.75rem;
}
.timeover-modal .tips li {
  color: #f6d4d4;
  line-height: 1.5rem;
}
.timeover-modal .modal-action {
  padding: 1.25rem 0;
}
.timeover-modal .modal-action .btn-apply {
  width: 14.41667rem;
  height: 3.625rem;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  text-indent: -999em;
  background: url(../images/button-apply.png) no-repeat;
  -moz-background-size: 14.41667rem 3.625rem;
  -o-background-size: 14.41667rem 3.625rem;
  -webkit-background-size: 14.41667rem 3.625rem;
  background-size: 14.41667rem 3.625rem;
}
.timeover-modal .mark {
  color: #fff;
  font-size: 1.33333rem;
  text-align: center;
}
.timeover-modal .guide {
  color: #fff;
  line-height: 2.91667rem;
  text-align: center;
}
.timeover-modal .guide a,
.timeover-modal .guide a:visited,
.timeover-modal .guide a:active {
  color: #fff;
  text-decoration: none;
}
.timeover-modal .reward {
  color: #ffd821;
  font-size: 1.08333rem;
  text-align: center;
}
.timeover-modal .dy-modal-close {
  width: 10.91%;
  height: 17.61%;
  left: 45.42%;
}
.timeover-modal .amount {
  width: 47.19%;
  height: 20.47%;
  position: absolute;
  top: 30.95%;
  left: 25.36%;
  z-index: 1000;
  color: #fff;
  font-size: 3.33333rem;
  line-height: 3.58333rem;
  text-align: center;
}

.notify-modal .modal-section {
  width: 76%;
  min-width: 23.33333rem;
  min-height: 14.58333rem;
  border: 3px solid #fbac30;
  padding-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  -moz-border-radius: 2.08333rem;
  -webkit-border-radius: 2.08333rem;
  border-radius: 2.08333rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #faf1ae;
}
.notify-modal .notify {
  width: 100%;
  height: 100%;
  min-height: 14.58333rem;
  position: relative;
}
.notify-modal .lucky {
  width: 9.375rem;
  height: 9.375rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -4.6875rem;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: url(../images/lucky-chicken.png) no-repeat;
  -moz-background-size: 9.375rem 9.375rem;
  -o-background-size: 9.375rem 9.375rem;
  -webkit-background-size: 9.375rem 9.375rem;
  background-size: 9.375rem 9.375rem;
}
.notify-modal .notify-container {
  padding: 5.3125rem 1.66667rem 0;
}
.notify-modal .notify-message {
  padding-bottom: 1.66667rem;
  color: #a50000;
  font-size: 1.08333rem;
  text-align: center;
}
.notify-modal .notify-action {
  text-align: center;
}
.notify-modal .notify-action a {
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999em;
}
.notify-modal .notify-action a.btn-cancel {
  width: 8.54167rem;
  height: 3.08333rem;
  margin-right: 1.66667rem;
  background-image: url(../images/btn-cancel.png);
  -moz-background-size: 8.54167rem 3.08333rem;
  -o-background-size: 8.54167rem 3.08333rem;
  -webkit-background-size: 8.54167rem 3.08333rem;
  background-size: 8.54167rem 3.08333rem;
}
.notify-modal .notify-action a.btn-bind {
  width: 8.54167rem;
  height: 3.08333rem;
  background-image: url(../images/btn-bind.png);
  -moz-background-size: 8.54167rem 3.08333rem;
  -o-background-size: 8.54167rem 3.08333rem;
  -webkit-background-size: 8.54167rem 3.08333rem;
  background-size: 8.54167rem 3.08333rem;
}
.notify-modal .notify-action a.btn-confirm {
  width: 15rem;
  height: 3.125rem;
  background-image: url(../images/btn-confirm.png);
  -moz-background-size: 15rem 3.125rem;
  -o-background-size: 15rem 3.125rem;
  -webkit-background-size: 15rem 3.125rem;
  background-size: 15rem 3.125rem;
}

.share-modal a.btn-confirm {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  left: 0;
  bottom: auto;
  z-index: 1010;
  text-indent: -999em;
}
.share-modal .shareto-image {
  position: relative;
  z-index: 1000;
}
