@font-face {
	font-family: Novecento;
	src: url('../fonts/Novecento-Lt.otf');
}

@font-face {
	font-family: NovecentoBd;
	src: url('../fonts/Novecento-Bd.eot'),
		 url('../fonts/Novecento-Bd.otf'),
		 url('../fonts/Novecento-Bd.woff');
}

@font-face {
	font-family: NovecentoMd;
	src: url('../fonts/Novecento-Md.eot'),
		 url('../fonts/Novecento-Md.otf'),
		 url('../fonts/Novecento-Md.woff');
}

@font-face {
	font-family: NovecentoRoman;
	src: url('../fonts/Novecento-Roman.eot'),
		 url('../fonts/Novecento-Roman.otf'),
		 url('../fonts/Novecento-Roman.woff'),
		 url('../fonts/novecento-roman-webfont.eot');
}