.fl {
	float: left;
}

.fr {
	float: right;
}

.fn {
	float: none;
}

.al {
	text-align: left;
}

.ar {
	text-align: right;
}

.ac {
	text-align: center;
}

.clr {
	height: 0;
	display: block;
	overflow: hidden;
	clear: both;
	line-height: 0;
	font-size: 0;
}

.clearfix:after{
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix{
	display: table;
}

*+html .clearfix{
	min-height: 1%;
}

.hide {
	display: none;
}

.overflow {
	overflow:hidden;
}